# Server
PORT=8080
GIN_MODE=debug
DEBUG_TESTING=true
URL="http://localhost:8080"

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=scrapers
DB_SSLMODE=disable
DB_URL="postgresql://postgres.xuoyyjzwwivommkkvzmw:Vps_Scrapers12@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres"

# JWT
JWT_SECRET=dev-secret-key-do-not-use-in-production
JWT_EXPIRY=24h